
/************ Généralités du Blog***************/
body {
  background-image: url(images/montableau.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.parent {
  width: 95%;
}

[class*="col-"], footer {
  color: white;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.col-lg-10_intro {
  margin-left: 5%;
}

.col-lg-10_intro p {
  width: 100%;
  font-size: 18px;
  text-align: justify;
}

.introchapitres, .introchapitres1 {
  font-weight: bold;
  font-size: 21px;
  text-decoration: underline;
}

.col-lg-10_masonry {
  display: none;
}

#contenu {
  width: 95%;
  text-align: justify;
  color: white;
}

/*********************Gestion de l'animation du Carousel *****************/

@-webkit-keyframes carouselAnim{
  0%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
  27%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
  33.33333%{
    -webkit-transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
            transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    z-index: 5;
  }
  60%{
    -webkit-transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
            transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    z-index: 5;
  }
  66.666666%{
    -webkit-transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
            transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    z-index: 5;
  }
  93%{
    -webkit-transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
            transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    z-index: 5;
  }
  100%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
}

@keyframes carouselAnim{
  0%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
  27%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
  33.33333%{
    -webkit-transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
            transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    z-index: 5;
  }
  60%{
    -webkit-transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
            transform: translateX(0) translateY(0) rotatey(10deg) scale(0.8,1);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    z-index: 5;
  }
  66.666666%{
    -webkit-transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
            transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    z-index: 5;
  }
  93%{
    -webkit-transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
            transform: translateX(200%) translateY(0) rotatey(-10deg) scale(0.8,1);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    z-index: 5;
  }
  100%{
    -webkit-transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
            transform: translateX(100%) rotatey(0) scale(1.2, 1.2);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 10;
  }
}

/*********************Conteneur et Contenu du Carousel ************/

.carousel__container{
  width: 100%;
  -webkit-perspective: 300px;
          perspective: 300px;
  -webkit-perspective-origin: 50% 60%;
          perspective-origin: 50% 60%;
  min-height: 17em;
  margin-left: 7%;
  margin-bottom: 2em;
  text-align: center;
  position: relative;
}

.carousel__item{
  position: absolute;
  width: 33%;
  height: 100%; 
  -webkit-animation-name: carouselAnim;
          animation-name: carouselAnim;
  -webkit-transform: translateX(0) rotatey(50deg);
          transform: translateX(0) rotatey(50deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.carousel__item:first-child{
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
.carousel__item:last-child{
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.carousel__image{
  width: 90%;
  height: 100%;
}

/*********************** Gestion des Chapitres et Commentaires **************/
#titreBillet {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}


#titreBlog, #piedBlog {
    text-align: center;
}

#chapitre {
  width: 100%;
  margin-left: 5%;
  font-size: 20px;
  text-align: justify;
}

#titreReponses {
  margin-left: 8%;
  font-size: 27px;
}

#auteurcomm {
  margin-left: 8%;
  font-size: 18px;
  text-decoration: underline;
}

#contenucomm {
  margin-left: 8%;
  font-size: 18px;
  font-style: italic;
}

form {
  margin-left: 10%;
}

#txtCommentaire {
    margin-left: 8%;
    width: 80%;
}

#commenter {
    margin-left: 5%;

}

/************ Gere le Header*******************/
.livre {
  font-size: 40px;
  font-style: italic;
}

.col-lg-12 {
  margin-left: 5%;
  width: 100%;
}

blockquote a {
  font-size: 18px;
  color: white;
}

header {
  padding-top: 2%;
}

header p{
  font-size: 55PX;
}

blockquote {
  font-style: italic;
}

blockquote p {
  text-align: right;
  font-size: 20px;
}

/********************* Gestion du Menu**************/
#menu{
    margin-left: 12%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-size: 17px;
}

#menu a {
  color: white;
  font-weight: bold;

}

#menu a:hover {
  color: green;
  text-decoration: none;
  background-color: white;

}

/****************** Gere le Footer***************/

#monfooter {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-around;
}

#monfooter a {
  color: white;
  text-decoration: none;
}

#monfooter a:hover {
  color: green;
  text-decoration: underline;
  background-color: white;
}


/************************ MEDIA QUERY GENERAL****************/

@media only screen and (min-width: 321px) and (max-width: 1200px) {
  #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-lg-10_masonry {
    display: block;
  }

  section .carousel__container, .introchapitres1 {
    display: none;
  }
  .masonry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
      -webkit-column-count: 4;
      column-count: 4;
      -webkit-column-gap: 1em;
      column-gap: 1em;
       margin: auto;
       padding: 0;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;

  }
  .item {
      padding: 1em;
      margin: auto;
      width: 100%;
    -webkit-transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -webkit-box-shadow: 2px 2px 4px 0 #ccc;
              box-shadow: 2px 2px 4px 0 #ccc;
  }

  .item img{
    max-width:100%;
  }
}



